biplist==1.0.2
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
django-classy-tags==0.8.0
django-sekizai==0.10.0
idna==2.6
pprint==0.1
pycparser==2.18
pyobjc==4.0
pyobjc-core==4.0
pyobjc-framework-Accounts==4.0
pyobjc-framework-AddressBook==4.0
pyobjc-framework-AppleScriptKit==4.0
pyobjc-framework-AppleScriptObjC==4.0
pyobjc-framework-ApplicationServices==4.0
pyobjc-framework-Automator==4.0
pyobjc-framework-AVFoundation==4.0
pyobjc-framework-AVKit==4.0
pyobjc-framework-CalendarStore==4.0
pyobjc-framework-CFNetwork==4.0
pyobjc-framework-CloudKit==4.0
pyobjc-framework-Cocoa==4.0
pyobjc-framework-Collaboration==4.0
pyobjc-framework-ColorSync==4.0
pyobjc-framework-Contacts==4.0
pyobjc-framework-ContactsUI==4.0
pyobjc-framework-CoreBluetooth==4.0
pyobjc-framework-CoreData==4.0
pyobjc-framework-CoreLocation==4.0
pyobjc-framework-CoreML==4.0
pyobjc-framework-CoreServices==4.0
pyobjc-framework-CoreSpotlight==4.0
pyobjc-framework-CoreText==4.0
pyobjc-framework-CoreWLAN==4.0
pyobjc-framework-CryptoTokenKit==4.0
pyobjc-framework-DictionaryServices==4.0
pyobjc-framework-DiskArbitration==4.0
pyobjc-framework-EventKit==4.0
pyobjc-framework-ExceptionHandling==4.0
pyobjc-framework-ExternalAccessory==4.0
pyobjc-framework-FinderSync==4.0
pyobjc-framework-FSEvents==4.0
pyobjc-framework-GameCenter==4.0
pyobjc-framework-GameController==4.0
pyobjc-framework-GameKit==4.0
pyobjc-framework-GameplayKit==4.0
pyobjc-framework-ImageCaptureCore==4.0
pyobjc-framework-IMServicePlugIn==4.0
pyobjc-framework-InputMethodKit==4.0
pyobjc-framework-InstallerPlugins==4.0
pyobjc-framework-InstantMessage==4.0
pyobjc-framework-Intents==4.0
pyobjc-framework-IOSurface==4.0
pyobjc-framework-iTunesLibrary==4.0
pyobjc-framework-LatentSemanticMapping==4.0
pyobjc-framework-LaunchServices==4.0
pyobjc-framework-LocalAuthentication==4.0
pyobjc-framework-MapKit==4.0
pyobjc-framework-MediaAccessibility==4.0
pyobjc-framework-MediaLibrary==4.0
pyobjc-framework-MediaPlayer==4.0
pyobjc-framework-ModelIO==4.0
pyobjc-framework-MultipeerConnectivity==4.0
pyobjc-framework-NetFS==4.0
pyobjc-framework-NetworkExtension==4.0
pyobjc-framework-NotificationCenter==4.0
pyobjc-framework-OpenDirectory==4.0
pyobjc-framework-Photos==4.0
pyobjc-framework-PhotosUI==4.0
pyobjc-framework-PreferencePanes==4.0
pyobjc-framework-PubSub==4.0
pyobjc-framework-QTKit==4.0
pyobjc-framework-Quartz==4.0
pyobjc-framework-SafariServices==4.0
pyobjc-framework-SceneKit==4.0
pyobjc-framework-ScreenSaver==4.0
pyobjc-framework-ScriptingBridge==4.0
pyobjc-framework-SearchKit==4.0
pyobjc-framework-ServiceManagement==4.0
pyobjc-framework-Social==4.0
pyobjc-framework-SpriteKit==4.0
pyobjc-framework-StoreKit==4.0
pyobjc-framework-SyncServices==4.0
pyobjc-framework-SystemConfiguration==4.0
pyobjc-framework-Vision==4.0
pyobjc-framework-WebKit==4.0
wheel==0.24.0
xattr==0.9.2
